@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1f1f1f;
}

.react-calendar {
  width: 100% !important;
  /* border: none !important; */
  color: white !important;
  font-family: "Inter", sans-serif !important;
  background-color: #1f1f1f !important;
}
.react-calendar__tile--now {
  background-color: #edf9fd !important;
  color: black !important;
}
.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
  display: none;
}

@media (min-width: 1024px) {
  .rbc-btn-group:last-child {
    display: block;
  }
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #edf9fd !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #c3ebfa !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 10px !important;
}

.rbc-timeslot-group {
  background-color: #edf9fd !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
  display: flex;
  flex-direction: column;
  font-size: x-small;
}

@media (min-width: 1024px) {
  .rbc-event {
    font-size: medium;
  }
}

.rbc-event.rbc-selected {
  border: none !important;
  outline: none !important;
}

.rbc-event:nth-child(even) {
  background-color: #cbf7b8 !important;
}
.rbc-event:nth-child(odd) {
  background-color: #c3ebfa !important;
}
.rbc-event:nth-child(5) {
  background-color: #fef8dd !important;
}

.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px;
}
